@import url('https://fonts.googleapis.com/css?family=Ubuntu');



:root {
  --main-color: #212c42; /* 212c42 */
  --avatar-border: #545454;
  --moto-bg-color: #000f2b; /* 000f2b 850404 292c2e 22282b*/
  --hacker-green: #88cc14;
  --cool-red: #a20606;
  --logged-out-bg: #111b29; /* 111b29 091b35 18283e */
  --navbar-main-height: 85px;
  --darkblue: #1c2331;
  --darkblue-bg-color: #1c2538;
  --optional-btn-color: #e9e9e9;
}

body {
  font-family: 'Ubuntu', monospace;
  background-color: #fafafa;
}

.star-background footer {
  color: white;
}

.star-background footer li a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  opacity: 0.5;
  text-decoration: none;
}

.text-lgray {
  color: #676767;
}

.text-black {
  color: #000;
}

.titleunderline {
  display: inline-block;
  width: 90px;
  height: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 20px;
  background-color: rgb(47, 76, 116);
}

.size-18 {
  font-size: 18px;
}

.horizontal-align-custom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.vertical-align-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jumbotron {
  position: relative;
  padding: 0;
  margin: 0;
  background: #161e2d; /* 1f2427 */
  border-radius: 0rem;
  color: white;
  width: 100%;
  background-size: cover;
  overflow: hidden;
}

.logo {
  filter: brightness(0) invert(1);
}

.navbar-pagelinks > li {
  margin: 0 10px 0 0;
  text-align: center;
}

.navbar-item-icon {
  display: block;
  font-size: 22px;
}

.jumbotron {
    min-height: 100%;
    padding: 100px 0;
  }
  
  .short-home-container {
    z-index: 999;
    padding-top: 20px;
  }

  .home-break {
    margin: 45px 0;
  }
  
  .navbar-colour-scroll {
    background-color: rgb(17, 27, 41);
  }
  
  .star-background {
    position: relative;
    overflow: hidden !important;
    background-image: linear-gradient(rgba(17, 27, 41, 0.6), rgba(17, 27, 41, 0.6)),
      url(https://assets.tryhackme.com/img/svgs/star-pattern.svg);
    background-color: var(--logged-out-bg);
    background-position: 0 -320px;
  }