@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
  --logged-out-bg: #111b29;
}

.user-btn {
  background-color: #ffffff;
  color: pink;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 500px;
}

.practice-container {
  display: flex;
  justify-content: space-between;
}

.user-btn:hover {
  box-shadow: 0 0 0 3px #676767;
}

body {
  font-family: 'Ubuntu', monospace;
  background-color: #fafafa;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.star-background footer {
  color: white;
  margin-top: auto;
}

.star-background footer li a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  opacity: 0.5;
  text-decoration: none;
}

.footer {
  margin-top: auto;
}

.text-lgray {
  color: #676767;
}

.text-black {
  color: #000;
}

.text-green {
  color: #10ac37;
}

.text-red {
  color: rgba(255, 0, 0, 0.75);
}

.text-white {
  color: rgba(255, 255, 255, 0.75);
}

.bold-header {
  font-weight: bold;
}

.titleunderline {
  display: inline-block;
  width: 90px;
  height: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 20px;
  background-color: rgb(47, 76, 116);
}

.size-18 {
  font-size: 18px;
}

.horizontal-align-custom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.vertical-align-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jumbotron {
  position: relative;
  padding: 0;
  margin: 0;
  background: #161e2d;
  border-radius: 0rem;
  color: white;
  width: 100%;
  background-size: cover;
  overflow: hidden;
}

.jumbotron-login {
  position: relative;
  padding: 0;
  margin: 0;
  background: #161e2d;
  border-radius: 0rem;
  color: white;
  width: 100%;
  background-size: cover;
  overflow: hidden;
}

.jumbotron {
  min-height: 100%;
  padding: 100px 0;
}

.jumbotron-login {
  min-height: 100%;
  padding: 79.7px 0;
}

.logo {
  filter: brightness(0) invert(1);
}

.navbar {
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.colores {
  background-color: rgba(17, 27, 41, 0);
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.seccion {
  padding: 50px;
  margin-top: 50px;
}

.navbar-pagelinks>li {
  margin: 0 10px 0 0;
  text-align: center;
}

.navbar-item-icon {
  display: block;
  font-size: 22px;
}

.short-home-container {
  z-index: 999;
  padding-top: 20px;
}

.home-break {
  margin: 45px 0;
}

.star-background {
  position: relative;
  overflow: hidden !important;
  background-image: linear-gradient(rgba(17, 27, 41, 0.6), rgba(17, 27, 41, 0.6)), url('stars.svg');
  background-color: var(--logged-out-bg);
  background-position: 0 -320px;
}

.card-header {
  background-color: rgba(17, 27, 41);
}

.card-link {
  text-decoration: none;
}

.task-dropdown-text {
  margin-right: 10px;
}

.exercise-text {
  color: rgba(255, 255, 255, 0.75);
  margin-left: 10px;
}

.float-right {
  float: right;
  color: rgba(255, 255, 255, 0.75);
}

.start-btn {
  float: right;
  margin-left: 30px;
}

.card-questions {
  font-weight: bold;
  color: rgba(255, 0, 0, 0.75);
}

.card-questions::after {
  content: "";
  flex-grow: 1;
  border-bottom: 2px solid rgba(255, 0, 0, 0.75);
  margin-left: 15px;
  margin-right: 15px;
}

.card-answer-submit button {
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --color-dark: rgba(17, 27, 41);
  --color-light: #F3F3F2;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.board .leaderboard {
  font-size: 50px;
  margin-bottom: 2em;
  text-align: center;
  color: rgba(17, 27, 41, 0.95);
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}

.board .duration {
  display: flex;
  justify-content: center;
  gap: 1em;
  font-size: 15px;
}

.board .duration>button {
  border: 1px solid var(--color-light);
  padding: .5em 2em;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
}

.board .duration>button:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.active {
  background-color: var(--color-dark);
  color: var(--color-light);
}

#profile {
  margin-top: 3em;
}

#profile .flex {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  text-align: left;
  margin-bottom: 2em;
}

#profile .flex .item {
  display: flex;
  align-items: center;
}

#profile .flex img {
  width: 20%;
  border-radius: 50%;
}

#profile .flex .info {
  padding: 1em;
}

.text-dark {
  color: var(--color-dark);
}

.podium {
  display: flex;
  justify-content: center;
}

.place1,
.place2,
.place3 {
  border: 1px solid #000;
  padding: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.place1 span,
.place2 span,
.place3 span {
  position: absolute;
  top: -45px;
  width: 100%;
  text-align: center;
}

.place1 .podium-image {
  width: 150px;
  height: 150px;
}

.place2 .podium-image {
  width: 125px;
  height: 125px;
}

.place3 .podium-image {
  width: 100px;
  height: 100px;
}

.place1 {
  order: 2;
  background-color: rgba(17, 27, 41, 0.9);
}

.place2 {
  order: 1;
  margin-top: 50px;
  background-color: rgba(17, 27, 41, 0.9);
}

.place3 {
  order: 3;
  margin-top: 100px;
  background-color: rgba(17, 27, 41, 0.9);
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ranking-table {
  margin-top: 2em;
  border-collapse: collapse;
  width: 80%;
  table-layout: fixed;
}

.ranking-table th,
.ranking-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  width: 33%;
}

.ranking-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-transform: uppercase;
  background-color: rgba(17, 27, 41, 0.95);
  color: white;
}

.ranking-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.upload-icon-container {
  display: flex;
  float: right;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-top: -160px;
  margin-right: 30px;
}

.upload-icon-container label {
  font-size: 0.8em;
}

.own-repository-table {
  border-collapse: collapse;
  width: 100%;
  position: relative;
}

.own-repository-table th,
.own-repository-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  position: inherit;
}

.own-repository-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(17, 27, 41, 0.95);
  color: white;
}

.own-repository-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.repository-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.own-repository-table td button:hover {
  background-color: #ddd;
  color: #0000FF;
  cursor: pointer;
}

.delete-cell {
  width: 50px;
}

.filter-table-own-container {
  position: relative;
  top: -75px;
}

.filter-own-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.filter-own-container select,
.filter-own-container input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.filter-own-container span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.filter-own-container>div {
  display: flex;
  gap: 20px;
}

.repository-table {
  border-collapse: collapse;
  width: 100%;
}

.repository-table th,
.repository-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.repository-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(17, 27, 41, 0.95);
  color: white;
}

.repository-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.repository-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.repository-table td button:hover {
  background-color: #ddd;
  color: #0000FF;
  cursor: pointer;
}

.filter-container {
  display: flex;
  justify-content: space-between;
}

.filter-container select,
.filter-container input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.filter-container span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.filter-container>div {
  display: flex;
  gap: 20px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination-container button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  background: #f0f0f0;
  cursor: pointer;
}

.pagination-container button.active {
  background: #007bff;
  color: white;
}

.pagination-container button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.tabla-ejercicios-container {
  text-align: center;
}

.tabla-ejercicios {
  display: inline-table;
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 25px;
}

.tabla-ejercicios th,
.tabla-ejercicios td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.tabla-ejercicios thead tr {
  background-color: #f2f2f2;
}

.avatar:hover {
  border: 3px solid rgba(17, 27, 41, 0.95);
}

.account-link {
  position: relative;
  font-weight: bold;
}

.account-link::after {
  content: '';
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid rgba(17, 27, 41, 0.95);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}